[spectrom]
velocity_sampl  = 20.
fieldofview     = 20.
velocity_range  = 800.
pixsize         = 200.
spatial_res     = 0.
spectral_res    = 0.
sigma_cont      = 0.
redshift_ref    = 2

[geometry]
redshift        = 0.01
theta           = 20
phi             = 0
barycenter      = True
reference_frame = ./G3_output_00050.hdf5

[run]
input_file      = ./G3_output_00050.hdf5
custom_dir      = .
output_file     = test.fits
nvector         = 400000
ncpu            = 1
overwrite       = True 
