[spectrom]
velocity_sampl  = 8.5
fieldofview     = 35
velocity_range  =  2131.81 
spatial_sampl          = 0.06
spatial_res            = 0.2
spectral_res           = 5000
sigma_cont             = 0.
redshift_ref           = 2
lum_dens_relation      = square 

[geometry]
redshift        = 0.01
theta           = 45
phi             = 0
barycenter      = True

[run]
input_file          = /home/crcavjal/simu_rolando/output_00090.hdf5
custom_dir          = .
output_file         = ./45_22_5_0_02_10000.fits
nvector         = 400000
ncpu            = 1
overwrite       = True
