[spectrom]
presets			= ghasp
# *oversampling* increases the spatial resolution
# during projection and convolutions
oversampling	= 8		
psf_scale       = 1.0
kernel_scale    = 1.0
#######################
# If presets was set, the following block is ignored:
spatial_sampl 	= 0.68
spatial_res 	= 1.00
spatial_res_kpc		= 0.5
spectral_sampl 	= 0.30
spectral_res 	= 10000
sigma_cont		= 0.0
spatial_dim		= 512
spectral_dim	= 48
# Pixsize must be consistent with (spatial_sampl,redshift)
# If pixsize is > 0, spatial_sampl is superseded accordingly
pixsize			= 0.
#######################

[geometry]
redshift		= 0.0025
theta 			= 60.
phi 			= 45.
barycenter		= True
# *reference_frame* can be used if you want several outputs
# to be oriented consistently
reference_frame	= output_00200

[run]
input_file		= output_00040
# *instrument* will identify this instrumental setup in the
# output filename; If presets was set, that name will be used
instrument		= myinstrument
# Make this number as large as possible to speed up calculations
nvector			= 400000
ncpu			= 1
overwrite		= True

[analysis]
input_file		= mastercube.fits
velocity_resolution = 3000
spatial_sampl   = 0.5


