[spectrom]
kernel_scale    = 1.0
# Very important to set these to 0 to avoid convolving by mistake
spatial_res 	= 0.
spectral_res 	= 0.
sigma_cont		= 0.
# This keywords are only considered for Mastercubes (z=0)
# They will override: spectral_sampl, spectral_dim, spatial_dim
velocity_sampl	= 4.
fieldofview		= 20.
velocity_range	= 1000.
# *pixsize* can NOT be 0 for master datacubes
pixsize         = 20.
# *redshift_ref* is only considered if z=0, to model the
# ionization fraction at redshift_ref following Rahmatti et.al. 2013
redshift_ref	= 2.

[geometry]
# MANDATORY to set z=0 for master datacubes in physical units
redshift		= 0.
theta 			= 60.
phi 			= 45.
barycenter		= False
# *reference_frame* can be used if you want several outputs
# to be re-oriented consistently
reference_frame	= output_00200


[run]
input_file		= output_00060
# *instrument* will identify this instrumental setup in the
# output filename; in this case a natural choice can be: mastercube
instrument		= mastercube
# Make this number as large as possible to speed up calculations
nvector			= 400000
ncpu			= 1
overwrite		= True
# Optional keywords for the header
simulation_id	= Mirage_G1
snapshot_id		= output_00050
reference_id     = output_00050


